body {
    font-family: "Inter", sans-serif;
}

.bb {
    border: 2px solid blue;
}
.by {
    border: 2px solid yellow;
}
.br {
    border: 2px solid red;
}
.bw {
    border: 2px solid brown;
}
.bg {
    border: 3px solid green;
}
.bg-bb {
    background-color: cornflowerblue;
}


/* Primary CSS */
#trialButton {
    background-color: blueviolet;
    color: white;
}


/* Media Queries */
@media screen and (max-width: 991px) {
    #ratedCont, #starCont {
        display: none;
    }
    #heroMain {
        display: flex;
        flex-direction: column-reverse !important;
        padding: 0px !important;
    }
    #heroWrapper {
        padding: 0px !important;
    }
    #heroLeftInner {
        padding: 2px !important;
    }
    #trialCont {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #checkmarkCont {
        justify-content: space-around;
    }
    #heroAd {
        padding: 0px 20px !important;
    }
    #navMid {
        margin: 0px !important;
    }
    #navBrand {
        display: flex !important;
    }
    #trialCont, #whyElements, #checkmarkCont {
        display: flex;
        flex-direction: column !important;
        margin: auto;
        max-width: 400px;
        border: 2px solid greenyellow;
    }
    #whyHeader {
        display: flex;
        flex-direction: column !important;
        margin: auto;
        max-width: 400px;
    }
    #diversifyMain {
        display: flex;
        flex-direction: column !important;
        margin: auto;
        padding: 0px !important;
    }
    #reviewInner {
        display: flex;
        flex-direction: column !important;
        margin: auto;
        padding: 0px !important;
        /* align-items: center; */
    }
    #diversifyLeft {
        padding: 0px !important;
        padding-top: 30px !important;
    }
    

    #trialButton {
        width: auto;
    }
}
.cardBottom {
    height: 100px;
}

.bgPurp {
    background-color: #4d13d1;
}
.bgBeige {
    background-color: #fbf8f3;

}
#diversifyMain {
    color: white;
    border-radius: 10px;
}
#diversifyMain button {
    color: #4d13d1;
    background-color: white;
}
