.bb {
    border: 2px solid blue;
}
.by {
    border: 2px solid yellow;
}
.br {
    border: 2px solid red;
}
.bw {
    border: 2px solid brown;
}
.bg {
    border: 3px solid green;
}
.bg-bb {
    background-color: cornflowerblue;
}


/* Primary CSS */
#trialButton {
    background-color: blueviolet;
    color: white;
}